.nav-card {
    min-width:100%;
    width:100%;
}
.nav-card-header {
    background: #02ca8b;
    min-height: 50;
    line-height: 3.5;
    font-size: 1.2rem;
    color: white;
    padding: 0 20px;
    /* display: flex;
    flex-wrap: wrap; */
    width: 100%;
    position:relative;
  }

.nav-card-header a {
    font-weight: bold;
    margin-left: 1.2rem;
    text-decoration: none;
    cursor: pointer;
}

.nav-card-header button {
    color: #f6f6f8fc;
    background-color: #02ca8b;
    max-width: 7rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
}

.logout-btn {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
}


.nav-link-dark { 
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    margin-right: 10rem;
    max-height: 6rem;
    max-width: 6rem;
}

.nav-link-dark-img {
    max-height: 4.4rem;
    max-width: 4.4rem;
}
